@media (max-width: 400px) {
 header{
	height:70px;
 }
.logo{
	width:70px;
	height:70px;
}
.logo img{
	width:50px;
	height:50px;
}
 .options{
 	width:70%;
 	height:70px;
 }
 .options a{
 	font-size:12px;
 }
  section{
  	width:100%;
  }
  .butIzq{
	padding:6px;
	width:21%;
   }
   .butIzq a{
   	font-size:12px;
   }

  .scontainer{
  	width:100%;
  }
  .sfotos{
  	width:100%;
  }

  footer{
	flex-direction:column;
	height:200px;
 }
 footer .footOne{
 	margin-bottom:10px;
 }
 
}

@media (max-width: 280px) {
	body{
		display:none;
	}
}